# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Universidad\OneDrive - Universidad Peruana de Ciencias\Sexto Ciclo\Complejidad\Trabajo Parcial 2020-02\entrega\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
